@font-face {
  font-family: "PTSans";
  src: url("lib/fonts/PTS55F.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "PTSans";
  src: url("lib/fonts/PTS75F.ttf");
  font-weight: bold;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "PTSans";
  font-weight: normal;
  color: #333333;
}

h1 {
  font-size: 52px;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.7rem;
  font-size: 36px;
}

h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #999;
}

.bg-image {
  background-image: url("../../images/london_big-ben.jpg");
  background-size: cover;
}

.window-size-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.window-size-container header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: right;
  background-color: white;
}
.window-size-container header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.window-size-container header nav ul li, .window-size-container header nav ul a {
  display: inline-block;
}
.window-size-container header nav ul li {
  padding: 1rem;
}
.window-size-container header nav ul li:last-child {
  padding-right: 3rem;
}
.window-size-container header nav ul a {
  text-decoration: none;
  color: #333333;
  padding: 1rem;
}
.window-size-container header nav ul a:hover {
  color: #057adc;
}

.hero-limit {
  padding: 0 2rem;
  width: 100%;
  max-width: 67rem;
}

.button {
  display: block;
  margin: 5rem auto 0 auto;
  padding: 0.7rem 2rem;
  width: 8rem;
  border-radius: 0.3rem;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: white;
  background-color: #057adc;
  box-shadow: 4px 6px 5px rgba(5, 122, 220, 0.14);
}
.button:hover {
  background-color: #1582de;
}

.hero-box {
  padding: 2rem;
  padding-bottom: 3rem;
  width: 28rem;
  text-align: left;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 8px 9px 9px rgba(0, 0, 0, 0.3);
}
.hero-box h1 {
  margin-top: 0;
}
.hero-box div {
  font-size: 24px;
}
.hero-box .button {
  margin: 2.5rem 0 0 0;
  text-align: center;
  box-shadow: none;
}
.hero-box .hero-image {
  margin-top: 7rem;
  width: 25rem;
}

.hero {
  text-align: center;
}
.hero canvas {
  position: relative;
  margin-top: -7rem;
  z-index: -1;
}
.hero div {
  color: #999;
  font-size: 24px;
}
.hero .hero-image {
  margin-top: 7rem;
  width: 25rem;
}

.container article {
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
  max-width: 67rem;
}
.container article .article-title {
  text-align: center;
}
.container article .subtitle {
  font-size: 24px;
  line-height: 1;
  color: #999;
}
.container article .charts {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.container article .pie-chart h3 {
  margin: 1rem 0;
  font-size: 24px;
}
.container article .pie-chart span {
  color: #999;
}
.container article .long-text {
  max-width: 28rem;
  color: #999;
  line-height: 1.36;
}
.container article .equation {
  margin-top: 5rem;
  margin-bottom: 4.5rem;
}
.container article .equation .sum {
  display: flex;
}
.container article .equation .sum .component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container article .equation .sum span {
  display: block;
  color: #999;
  font-size: 30px;
}
.container article .equation .sum span:first-of-type {
  font-weight: bold;
  color: #333333;
  font-size: 24px;
}
.container article .equation .sum .plus {
  margin: 0 1rem;
  align-self: flex-end;
  color: #999;
  font-size: 30px;
}
.container article .equation .sum-line {
  margin: 0.5rem 0;
  width: 30rem;
  height: 0.25rem;
  background-color: #057adc;
  border-radius: 1rem;
}
.container article .news-title {
  margin-top: 2rem;
  width: 28rem;
}
.container article .news-title .read-more {
  color: #057adc;
  font-size: 20px;
  cursor: pointer;
}
.container article .news-text {
  margin-top: 2rem;
  color: #999;
}
.container article .news-text span {
  line-height: 1.7;
}
.container article .news-text .author-info {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  color: #333333;
}
.container article .news-text .author-info .author-image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.container article .news-text .author-info .author {
  margin-left: 1rem;
}
.container article .news-text .author-info .author .date-separation {
  margin: 0.2rem 0;
  width: 2rem;
  height: 0.2rem;
  background-color: #057adc;
  border-radius: 0.3rem;
}
.container article .news-text .author-info .author .date {
  color: #ccc;
}
.container .news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.container .news-grid .column-first .news-box:nth-child(even),
.container .news-grid .column-thirt .news-box:nth-child(even) {
  background-color: #057adc;
  color: white;
}
.container .news-grid .column-first .news-box:nth-child(even) .news-date,
.container .news-grid .column-thirt .news-box:nth-child(even) .news-date {
  color: #b5d5ff;
}
.container .news-grid .column-first .news-box:nth-child(even) .news-logo,
.container .news-grid .column-thirt .news-box:nth-child(even) .news-logo {
  border-top: solid 0.05rem #b5d5ff;
}
.container .news-grid .column-second {
  margin-top: 4rem;
}
.container .news-grid .column-second .news-box:nth-child(odd) {
  background-color: #057adc;
  color: white;
}
.container .news-grid .column-second .news-box:nth-child(odd) .news-date {
  color: #b5d5ff;
}
.container .news-grid .column-second .news-box:nth-child(odd) .news-logo {
  border-top: solid 0.05rem #b5d5ff;
}
.container .news-grid .column-thirt {
  margin-top: 8rem;
}
.container .news-grid .news-box {
  overflow: hidden;
  margin: 2rem 0;
  padding: 7%;
  width: 86%;
  text-align: left;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.container .news-grid .news-box h3 {
  font-size: 28px;
}
.container .news-grid .news-box .news-date {
  margin-bottom: 7%;
  color: #ccc;
}
.container .news-grid .news-box .news-logo {
  margin-left: 3%;
  margin-right: -9%;
  border-top: solid 0.05rem #ccc;
}
.container .news-grid .news-box .news-logo img {
  margin-left: -3%;
  margin-top: 7%;
  width: 6rem;
}
.container .circle-infographic {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.container .circle-infographic .first-item,
.container .circle-infographic .second-item,
.container .circle-infographic .thirt-item,
.container .circle-infographic .fourth-item {
  z-index: 1;
}
.container .circle-infographic .first-item {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  max-width: 20rem;
}
.container .circle-infographic .second-item {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: center;
  max-width: 20rem;
}
.container .circle-infographic .thirt-item {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.container .circle-infographic .fourth-item {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  justify-self: flex-end;
  align-self: center;
  max-width: 20rem;
}
.container .circle-infographic .fifth-item {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  max-width: 24rem;
}
.container .circle-infographic span {
  color: #999;
  line-height: 1.36;
}
.container .circle-in-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11.875rem;
}
.container .circle-in-circle .main-circle-image {
  width: 10rem;
}
.container .circle-in-circle .big-circle, .container .circle-in-circle .small-circle {
  position: absolute;
}
.container .circle-in-circle .small-circle {
  width: 25rem;
}
.container .circle-in-circle .big-circle {
  width: 33rem;
}

footer {
  margin-top: 5.1rem;
  padding-top: 1.7rem;
  height: 13rem;
  border-top: 0.1rem solid #e2e8f3;
  background-color: #f8fafc;
}
footer nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 1rem;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 67rem;
}
footer nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 2;
  color: #999;
  font-size: 16px;
}
footer nav h3 {
  margin: 0;
}
footer nav span {
  display: block;
  max-width: 15rem;
  color: #999;
  font-size: 16px;
  line-height: 1.5;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.align-left {
  text-align: left !important;
}
.align-left h2 {
  line-height: 1;
}

.light-blue {
  padding: 5.1rem 0;
  margin: 1.7rem 0;
  background-color: #f8fafc;
}

.separation {
  margin: 0.2rem 0 1rem 0;
  width: 1.2rem;
  height: 0.1rem;
  border-radius: 1rem;
  background-color: #057adc;
}

/*# sourceMappingURL=main.css.map */
